* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9f9;
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
}

h2 {
  margin-top: 74px;
  margin-left: 133px;
  font-size: 25.11px;
  font-family: "Nunito", sans-serif;
  color: #093f51;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.productos-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  margin-top: 22px;
}

.producto-card {
  box-sizing: border-box;
  margin: 17px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  width: 215px;
  height: 317px;
  border-radius: 9.653px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-button {
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  width: 69.504px;
  height: 69.504px;
  border-radius: 69.504px;
  background: #fff;
  box-shadow: 0px 1.931px 1.255px 0px rgba(113, 113, 113, 0.35);
  transform: translateY(-50%);
}

.carousel-button.prev {
  left: 118px;
}

.carousel-button.next {
  right: 98px;
}

.producto-card img {
  width: 60%;
  height: 60%;
}

.producto-card h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.producto-card p {
  margin: 5px 0;
}

.producto-card .link {
  margin: 5px 0;
  text-decoration: none;
  color: #349999;
  font-family: Nunito;
  font-size: 15.445px;
  font-style: normal;
  font-weight: 400;
}


@media (max-width: 768px) {
  .general-container{
    display: none;
  }
}