.register-container {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.register-container .register-info {
  width: 300px;
  margin: 2% auto;
}

.register-info h1 {
  color: #093f51;
  text-align: center;
  font-family: "Days One";
  font-size: 47.512px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register-form {
  background-color: white;
  height: 70%;
  width: 1000px;
  display: flex;
  border-radius: 9.653px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  margin: 0 auto;
}

.register-form form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  justify-content: center;
}

.register-form .register-form-group {
  margin-top: 10px;
}

.register-form .register-form-group label {
  font-family: Nunito;
  font-size: 21.081px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register-form .register-form-group input {
  background-color: #ffffff;
  width: 200px;
  height: 35px;
  border-radius: 7.074px;
  border: 2px solid #ddd;
  font-size: 20px;
}

.register-form .register-form-group select {
  background-color: #ffffff;
  width: 200px;
  height: 35px;
  border-radius: 7.074px;
  border: 2px solid #ddd;
  font-size: 20px;
  padding: 5px;
}

.register-form-submit {
  position: absolute;
  border-top: 1px solid #ddd;
  width: 1000px;
  margin-left: -60px;
  margin-top: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-submit button {
  margin-top: 2%;
  background-color: #093f51;
  color: white;
  width: 502px;
  height: 50px;
  border-radius: 7.074px;
  border: 2px solid #093f51;
  font-family: Nunito;
  font-size: 21.081px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.register-login{
    margin: 2% auto;
}

.register-login a{
    text-decoration: none;
    color: #349999;
}