.sidebar-adm-container{
    height: 86vh;
    width: 5%;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px gray;
    display: flex;
    flex-direction: column;
}

.sidebar-adm-container .sidebar-adm-options{
    height: 100%;
    display: flex;
}

.sidebar-adm-container .sidebar-adm-options ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 30%;
    margin-top: 200px;
}

.sidebar-adm-container .sidebar-adm-options ul li{
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 60px;
    cursor: pointer;
}

.sidebar-adm-container .sidebar-adm-options ul li:hover{
    background-color: #a3d1d1;
}

.sidebar-adm-container .sidebar-adm-options ul li a{
    text-decoration: none;
    color: #093f51;
    font-size: 30px;
}

.sidebar-adm-container .sidebar-adm-logout ul{
    height: 100%;
}

.sidebar-adm-container .sidebar-adm-logout ul li{
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 60px;
    cursor: pointer;
}

.sidebar-adm-container .sidebar-adm-logout ul li:hover{
    background-color: #a3d1d1;
}

.sidebar-adm-container .sidebar-adm-logout ul li a{
    text-decoration: none;
    color: #093f51;
    font-size: 30px;
}
